API Data/XML/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title"  type="xs:string"/>
                            <xs:element name="author" type="xs:string"/>
                            <xs:element name="year"   type="xs:integer"/>
                            <xs:element name="price"  type="xs:decimal"/>
                        </xs:sequence>
                        <xs:attribute name="id"    type="xs:integer" use="required"/>
                        <xs:attribute name="genre" type="xs:string"  use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>